.container-fluid {
  background-color: rgb(26, 138, 26);
}

body {
  background-color: rgb(248, 243, 236);
}

.about {
  padding: 10px;
}

#navbarSupportedContent {
  display: flex;
  align-items: right;
}

.phoDacBiet {
  width: 75%;
  height: 75%;
}

#myCarousel {
  display: flex;
  justify-content: center;
}

img {
  width: 50%;
  height: 50%;
}

.menu {
  padding-left: 20px;
}

.menu-title {
  padding-left: 10px;
}
